/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/php-fpm
/nginx
.env
./idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/config/database.php
