* * * * * sleep 10; bash /app/run.sh  >> /var/log/cron.log 2>&1
* * * * * sleep 20; bash /app/run.sh  >> /var/log/cron.log 2>&1
* * * * * sleep 30; bash /app/run.sh  >> /var/log/cron.log 2>&1
* * * * * sleep 40; bash /app/run.sh  >> /var/log/cron.log 2>&1
* * * * * sleep 50; bash /app/run.sh  >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
